

@font-face {
    font-family: "Lato";  
    src: url("/seminar_11/fonts/Lato/Lato-Light.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}
@font-face {
    font-family: "Lato";  
    src: url("/seminar_11/fonts/Lato/Lato-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}
@font-face {
    font-family: "Lato";  
    src: url("/seminar_11/fonts/Lato/Lato-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}
@font-face {
    font-family: "Lato";  
    src: url("/seminar_11/fonts/Lato/Lato-Black.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}