* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

.header {
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: calc(50% - 565px);
    padding-right: calc(50% - 565px);
}

.left__edge {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 18px;
}

.logo__link {
    width: 44px;
    height: 38px;
    padding-right: 41px;
}

.button {
    display: flex;
    gap: 30px;
}

.main__block {
    background-color: #F1E4E6;
    display: flex;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.main__block__image{
    margin-right: 63px;
}
.ractangle {
    width: 12px;
    height: 92px;
    background-color: #F16D7F;
    margin-top: 20%;
    margin-right: 16px;
}
.heading {
    margin-top: 20%;
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.of_luxerious {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.fashion {
    color: #F16D7F;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.catalog__range {

    padding-top: 65px;
    padding-bottom: 96px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 30px;
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
    
}

.sale__info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sale__info__big {
    position: relative;
    display: grid;
    justify-content: center;
    min-height: 180px;
    grid-column: 1 / -1;
}

.sale__content {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sale__text {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.sale__title {
    display: flex;
    justify-content: center;
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.str {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.text {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.catalog__items {
    margin-top: 47px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    justify-content: center;
    gap: 30px;
}
.image {
    height: 420px;
}
.discription {
    padding-top: 24px;
    background-color: #F8F8F8;
}
.subtitle {
    
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.desc {
    padding-top: 16px;
    padding-bottom: 16px;
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    }
.price {
    padding-bottom: 24px;
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.item_2 {
    background-color: #F7E4E2;
}
.image_2 {
    margin: 0 30%;
    height: 420px;
}

.link__to__catalog {
    margin-top: 48px;
    margin-bottom: 60px;
    text-align: center;
}

.all__product {
    
    padding: 15px;
    border: 1px solid #FF6A6A;
    text-align: center;
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 212px;
    }


@media (min-width: 768px) and (max-width: 1024px) {
    .main__block {
        padding-left: calc(50% - 364px);
        padding-right: calc(50% - 364px);
    }
    .main__block__image {
        max-width: 50%;
        margin-right: 39px;
    }
    .heading {
        font-size: 44px;
    }
    .of_luxerious {
        font-size: 24px;
    }
    .fashion {
        font-size: 24px;
    }
    
    .catalog__range {
        padding-bottom: 109px;
        gap: 20px;
        padding-left: calc(50% - 364px);
        padding-right: calc(50% - 364px);
    }

    .catalog__items {
        display: grid;
        grid-template-columns: repeat(2, 360px);
        justify-content: center;
        gap: 16px;
    }


}