@import '../vars';
@import '../mixins';

.cartPage {
    @include hidden;
}



.cart__content {
    margin-top: 96px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include center;
}

.cart__product {
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}

.product {
    position: relative;
    display: flex;
    gap: 30px;
    box-shadow: 25px 25px 15px #F5F3F3;
    
    &__description {
        display: flex;
        flex-direction: column;
        gap: 6px;
        
    }

    &__title {
        padding-top: 22px;
        color: #222;
        @include font-style400(24px);
        margin-bottom: 36px;

    }

    &__info {

        color: #575757;
        @include font-style400(22px);

        margin: 0;
        padding: 0;

        &_price {
            color: $colorMain;
            @include font-style400(22px);

        }
        &_color {
            color: #6F6E6E;
            @include font-style400(22px);
            
        }
        &_size {
            color: #6F6E6E;
            @include font-style400(22px);	
            
        }
        &_quantity {
            width: 44px;
            height: 25px;
            text-align: center;
            margin-left: 24px;
        }

    }

    &_close {
        position: absolute;
        margin-left: 320px;
        margin-top: 28px;
    }

    &_close-path {
        fill: #575757;
        cursor: pointer;
    }
    &_close-path:hover {
        fill: $colorMain;
    }

}

.cart__action {
    display: flex;
    justify-content: center;
    gap: 192px;
    margin-top: 32px;
    margin-bottom: 128px;
    @include center;

    &_btn {
        text-transform: uppercase;
        width: 230px;
        border: 1px solid rgba(164, 164, 164, 1);
        padding-top: 15px;
        padding-bottom: 16px;
        color: #000;
        text-align: center;
        background-color: rgba(255, 255, 255, 1);
        @include font-style300(14px);
        transition: 0.5s;
    }
    
    &_btn:hover {
        background-color: $colorMain;
        color: #FFF;
        border: 1px solid $colorMain;
    }

}


.cart__order {
    display: flex;
    flex-direction: column;
    gap: 57px;
}

    .order {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 17px;

        &__title {
            color: #222;
            @include font-style300(16px);
            margin: 0;
        }

        &__form {
            display: flex;
            flex-direction: column;
            width: 360px;
            gap: 20px;

            &_enter {
                padding-top: 7px;
                padding-bottom: 10px;
                padding-left: 16px;
            }

            &_enter::placeholder {
                color: #B1B1B1;
                @include font-style300(13px);
              }

            &_link {
                text-transform: uppercase;
                display: block;
                padding-top: 10px;
                padding-bottom: 10px;
                background-color: #fff;
                width: 100px;
                border: 1px solid rgba(164, 164, 164, 1);
                color: #4A4A4A;
                @include font-style300(11px);
            }
        }
    
        &__total {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            width: 360px;
            height: 214px;
            background-color: #F5F3F3;
            padding-right: 40px;

            &_sub {
                color: #4A4A4A;
                @include font-style300(11px);
                margin-bottom: 12px;
            }
            &_grand {
                color: #222;
                @include font-style300(13px);
                margin-bottom: 21px;
                
            }
            &_hr {
                width: 270px;
                border: 1px solid #E2E2E2;
                margin-bottom: 17px;
            }
            &_price {
                color: $colorMain;
                @include font-style700(16px);

            }
            &_check{
                background-color: $colorMain;
                padding-top: 15px;
                padding-bottom: 15px;
                width: 270px;
                border: 1px solid transparent;
                color: #FFF;
                @include font-style300(16px);
                transition: 0.7s;
            }
            &_check:hover {
                background-color: #FFF;
                border: 1px solid $colorMain;
                color: $colorMain;
                
            }
        }

    }
    




/* Планшетная версия */
    
@media (min-width: 768px) and (max-width: 1024px) {

    .cart__content {
        flex-direction: column;
        @include centerTablet;
        margin-top: 59px;
        margin-bottom: 62px;
    }

    .cart__action {
        margin-top: 22px;
        gap: 48px;
        @include centerTablet;
        margin-bottom: 64px;
    }

    .product_close {
        margin-left: 400px;
    }

    .cart__order {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        gap: 0;
    }
    .order {
        padding-top: 0;

        &__form {
            gap: 15px;
        }
    }

}


/* Мобильная версия */

@media (min-width: 320px) and (max-width: 767px) {

    .top__head {
        @include centerMobil;
        padding-top: 50px;
        padding-bottom: 69px;
        justify-content: center;
    }

    .cart__content {
        margin-top: 39px;
        flex-direction: column;
        @include centerMobil;
    }

    .cart__product {
        gap: 32px;
    }

    .cart__action {
        margin-top: 0px;
        gap: 9px;
        @include centerMobil;
        margin-bottom: 48px;

        &_btn {
            text-transform: none;
            width: 175px;
            font-size: 12px;
            padding-top: 9px;
            padding-bottom: 9px;

        }
    }

    .product {
        gap: 17px;

        &__description {
            gap: 4px;

        }

        &__image {
            width: 143.859px;
            height: 188px;
        }
        
        &__title {
            padding-top: 13px;
            font-size: 16px;
            margin-bottom: 22px;
        }
        &__info {
            font-size: 14px;

            &_price {
                font-size: 14px;
    
            }
            &_color {
                font-size: 14px;
                
            }
            &_size {
                font-size: 14px;	
                
            }
            &_quantity {
                width: 24px;
                height: 15px;
                margin-left: 15px;
            }

            &_quantity::placeholder {
                font-size: 10px;
            }
        }

        &_close {
            margin-left: 175px;
            margin-top: 17px;
            width: 10px;
            height: 11px;
        }
        
    }

    .cart__order {
        gap: 48px;

    }
    .order{
        padding-top: 0;

        &__form_link {
            text-transform: none;
        }
        &__total {
            margin-bottom: 96px;
        }
    }
}


