@import '../vars';
@import '../mixins';

.cartPage {
    @include hidden;
}



.cart__content {
    margin-top: 96px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include center;
}

.cart__product {
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}

.product {
    display: flex;
    gap: 30px;
    box-shadow: 25px 25px 15px #F5F3F3;
    
    &__description {
        display: flex;
        flex-direction: column;
        gap: 6px;
        width: 290px;
        height: 306px;
        
    }

    &__title {
        padding-top: 22px;
        color: #222;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

    }

    &__info {

        color: #575757;
        font-family: Lato;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        margin: 0;
        padding: 0;

        &_price {
            color: $colorMain;
            font-family: Lato;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

        }
        &_color {
            color: #6F6E6E;
            font-family: Lato;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            
        }
        &_size {
            color: #6F6E6E;
            font-family: Lato;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;	
            
        }
        &_quantity {
            width: 44px;
            height: 25px;
            text-align: center;
            margin-left: 24px;
        }

    }

    &_close {
        padding-top: 37px;
        padding-right: 22px;
        color: #575757;
        cursor: pointer;
    }
    &_close:hover {
        color: $colorMain;
    }

}


.cart__order {
    display: flex;
    flex-direction: column;
    gap: 57px;
}

    .order {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 17px;

        &__title {
            color: #222;
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            margin: 0;
        }

        &__form {
            display: flex;
            flex-direction: column;
            width: 360px;
            gap: 20px;

            &_enter {
                padding-top: 10px;
                padding-bottom: 13px;
                padding-left: 17px;
            }
            &_link {
                display: block;
                padding-top: 10px;
                padding-bottom: 10px;
                background-color: #fff;
                width: 100px;
                border: 1px solid rgba(164, 164, 164, 1);
                color: #4A4A4A;
                font-family: Lato;
                font-size: 11px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
            }
        }
    
        &__total {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            width: 360px;
            height: 214px;
            background-color: #F5F3F3;
            padding-right: 40px;

            &_sub {
                color: #4A4A4A;
                font-family: Lato;
                font-size: 11px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            &_grand {
                color: #222;
                font-family: Lato;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                
            }
            &_hr {
                width: 270px;
                border: 1px solid #E2E2E2;
            }
            &_price {
                color: $colorMain;
                font-family: Lato;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;

            }
            &_check{
                background-color: $colorMain;
                padding-top: 15px;
                padding-bottom: 15px;
                width: 270px;
                border: 1px solid transparent;
                color: #FFF;
                font-family: Lato;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                transition: 0.7s;
            }
            &_check:hover {
                background-color: #FFF;
                border: 1px solid $colorMain;
                color: $colorMain;
                
            }
        }

    }
    

.cart__action {
    display: flex;
    gap: 192px;
    margin-top: 72px;
    margin-bottom: 128px;
    @include center;

    &_btn {
        width: 230px;
        border: 1px solid rgba(164, 164, 164, 1);
        padding-top: 15px;
        padding-bottom: 16px;
        color: #000;
        text-align: center;
        background-color: rgba(255, 255, 255, 1);
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        transition: 0.5s;
    }
    
    &_btn:hover {
        background-color: $colorMain;
        color: #FFF;
        border: 1px solid $colorMain;
    }

}



